
TELEGRAM_BOT_TOKEN=8932602832:AAEvsSt9snHsUaRcmD_H0ipQG25i7uusHL4
TELEGRAM_CHAT_ID=500024632

# Server porti
PORT=4000

# Frontend manzili (CORS uchun). Bir nechtasini vergul bilan yozish mumkin.
FRONTEND_URL=http://localhost:5173
